@font-face {
    font-family: "Lato";
    src: local("Lato Light"),
       url("../../assets/fonts/lato/lato-light.woff2") format("woff2"),
       url("../../assets/fonts/lato/lato-light.woff") format("woff"),
       url("../../assets/fonts/lato/lato-light.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}