{
  "env": {
    "development": {
      "presets": [
        [
          "env",
          {
            "targets": "current"
          }
        ]
      ]
    },
    "browser": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 2 versions"]
            },
            "modules": false
          }
        ]
      ]
    }
  },
  "plugins": [
    [
      "transform-react-jsx",
      {
        "pragma": "h"
      }
    ],
    "transform-react-constant-elements",
    "syntax-dynamic-import",
    "transform-runtime",
    "transform-object-rest-spread"
  ],
  "ignore": ["dist/**", "node_modules/**"],
  "retainLines": true
}
